$clr-primary: #1f285b;
$clr-secondary: #00b4da;
$clr-accent: #e2bb32;
$clr-dark: hsl(0, 0%, 18%);
$clr-light: hsl(0, 0%, 100%);
$clr-gray: #fafafa;
$clr-dark-gray: #958b8b;

$ff-primary:'Noto Sans JP', sans-serif;

$break-md: 640px;
$break-lg: 1008px; 